# База данных
*.db
*.db-journal

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Переменные окружения
.env

# Render
.render-buildpacks.json
